Options -MultiViews
RewriteEngine On
Options -Indexes
RewriteBase /

RewriteCond %{HTTP_HOST} ^www.tooify\.com [NC]
RewriteRule ^(.*)$ http://tooify.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?URL=$1 [QSA,L]